<footer id="sticky-footer" class="py-4 bg-dark text-white">
    <div class="container text-center">
        <small>Copyright &copy; <%= link_to 'Pedro Vinícius Lapa', "https://www.linkedin.com/in/pedro-lapa-362694267/" %></small>
    </div>
</footer>